/* GALERIA */ 

.galeria {
    height: 25rem;
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 100%;
    transition: all 0.3s ease;
    filter: none;

    &:hover {
        transform: scale(1.03);
        filter: grayscale(40%);
    }
    
}