/*  ESTILOS GENERALES */

html {
    font-size: 75%;

    body {
        background-image: url(https://i.pinimg.com/564x/84/c9/f0/84c9f06e6e385717b955bd9299bbad6f.jpg);
         color: $color-fuentes;
         font-family: 'Roboto' sans-serif;

    }
}