/*VIDEOS*/ 

  .carousel {
    height: 20rem;
    padding: 1rem;
    width: 800px;
    height: 200px;
    margin:20px 100px 20px 160px ;
    text-align: center;
}

.carousel-item {
    width: 800px;
    height:800px;
}